#main_container{
    padding: 32px;
    margin: 0 auto;
}
.banner-content{
    position: relative;
    max-width: 1440px;
    margin: auto;
    /* border: solid 1px red; */
}
.swiper-container{
    position: relative;
}
.banner-catolog{
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}
.banner-slide{
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0 10px 1px green;
}
.banner-slide img{
    cursor: pointer;
    height: 100%;
    width: auto;
    transition: .5s ease;
} 
.banner-slide img:hover{
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}

/* swipe buttons */
.swiper-button{
    /* style buttons */
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translate(25%, -50%);
    background-color: white;
    opacity: .6;
    /* arrows */
    font-size: 32px;
    padding: 0 .1em .1em 0;
}
.next{
    transform: translate(-25%, -50%);
    right: 0;
    padding: 0 0 .1em .1em;
}
.swiper-button:hover{
    opacity: 1;
    color: green;
}

/* swiper pagination */
.swiper-pagination{
    text-align: center;
}
.swiper-pagination-bullet{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgb(81, 218, 81);
    display: inline-block;
    transform: background-color .6s ease;
}
.active, .swiper-pagination-bullet:hover{
    background-color: rgb(25, 105, 25);
}

@media (max-width: 767px){
    .banner-slide img{
        width: 100%;
    }
    .swiper-button{
        display: none;
    }
}
