#main_container{
    padding: 32px;
    margin: 0 auto;
}
.banner-content{
    position: relative;
    max-width: 1440px;
    margin: auto;
}
.swiper-container{
    position: relative;
}
.banner-catolog{
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}
.banner-slide{
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    overflow: hidden;
    border-radius: 25px;
}
.banner-slide img{
    cursor: pointer;
    height: 100%;
    width: auto;
    transition: .5s ease;
} 
.banner-slide img:hover{
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}

/* swipe buttons */
.swiper-button{
    /* style buttons */
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translate(25%, -50%);
    background-color: white;
    opacity: .6;
    /* arrows */
    font-size: 32px;
    padding: 0 .1em .1em 0;
}
.next{
    transform: translate(-25%, -50%);
    right: 0;
    padding: 0 0 .1em .1em;
}
.swiper-button:hover{
    opacity: 1;
    color: green;
}

/* swiper pagination */
.swiper-pagination{
    display: flex;
    justify-content: center;
}
.swiper-pagination-bullet{
    cursor: pointer;
    height: 5px;
    width: 50px;
    margin: 0 5px;
    border-radius: 2.5px;
    background-color: rgb(209, 209, 209);
    transform: background-color .6s ease;
}
.banner-content .active, .swiper-pagination-bullet:hover{
    background-color: rgb(25, 105, 25);
}

@media (max-width: 767px){
    #main_container{
        padding: 14px;
    }
    .banner-slide img{
        width: 100%;
    }
    .swiper-button{
        display: none;
    }
    .swiper-pagination-bullet{
        height: 4px;
        width: 35px;
        margin: 0 4px;
        border-radius: 2px;
    }
}
