
.header{
    border: solid 1px blue;
    min-height: 150px;
}
.content{
    padding: 0px 30px;
}
.headerUp{
    display: flex;
    justify-content: space-between;
    border: solid 1px red;
    padding-top: 10px;
    min-height: 130px;
}
.headerDown{
    border: solid 1px yellow;
    text-align: center;
}
.itemHeaderUp{
    border: solid 1px green;
}
.rowButton{
    border: solid 1px aqua;

}
.itemMain{
    text-align: center;
    font-size: 45px;
}
.slogan{
    font-size: 15px;
    color: grey;
}
.headerButton{
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;

    margin: 0px 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    transition: all 0.5s;

}
.headerButton:hover{
    transform: translateY(-10px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}


.singIN,.basket,.linkButtonInstagram{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
}
.singIN{
    background: url(../img/icone/singIN.png) no-repeat center;
    background-size: cover;
}
.singIN:hover{
    background: url(../img/icone/singIN_hover.png) no-repeat center;
    background-size: cover;
}
.basket{
    width: 55px;
    background: url(../img/icone/basket.png) no-repeat center;
    background-size: cover;
    
}
.basket:hover{
    background: url(../img/icone/basket_hover.png) no-repeat center;
    background-size: cover;
}
.linkButtonInstagram{

    background: url(../img/icone/instagram.png) no-repeat center;
    background-size: cover;
}
.linkButtonInstagram:hover{
    background: url(../img/icone/instagram_hover.png) no-repeat center;
    background-size: cover;
}





body.lock{
    overflow: hidden;
}






.header_burger{
    display: none;
}
.header_burger_exit{
    display: none;
}
.burger_menu{
    display: none;
}
@media (max-width:767px) {
    .slogan{
        display: none;
    }
    body.lock{
        overflow: hidden;
    }
    .burger_menu_exit{
        position: fixed;
        left: 190%;
        transition: all 0.3s ease 0s;
    }
    .burger_menu_exit.active{
        top: 50px;
        left: 90%;
        position: fixed;
        border: solid 1px red;
        width: 30px;
        height: 20px;
        z-index: 100;
    }
    .burger_menu_exit:before,
    .burger_menu_exit:after{
        position: absolute;
        content: '';
        background-color: black;
        width: 100%;
        height: 2px;
    }
    .burger_menu_exit:before{
        transform: rotate(45deg);
        top: 8px;
    }
    .burger_menu_exit:after{
        transform: rotate(-45deg);
        bottom: 8px;
    }
    .header_burger{
        position: relative;
        border: solid 1px yellow;
        display: block;
        width: 30px;
        height: 20px;
        transition: all 2s ease-in-out;
    }
    .header_burger:before,
    .header_burger:after{
        position: absolute;
        content: '';
        background-color: black;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }



    .header_burger span{
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }
    .headerDown{
        display: none;
    }
    .header{
        min-height: 50px;
    }
    .headerUp{
        flex-flow: wrap;
        justify-content: none;
        min-height: 50px;
    }

    
    .itemMain{
        padding-bottom: 20px;
        order: 1;
        width: 100%;
        text-align: center;
    }
    .itemBetween{
        order: 2;
    }
    .burger_menu{
        z-index: 99;
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: rgb(114, 111, 111);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .burger_menu.active{
        left: 0;
    }
    .header_list{
        display: block;
    }
    .header_list li{
        margin: 0px 0px 20px 0px;
        font-size: 20px;
    }
    .linkButton{
        display: none;
    }
    
}