body{
    background-color: rgb(86, 86, 179);
}
.main__katalog__container{

}
.katalog_container{
    background-color: white;
    min-height: 100vh;
    border-radius: 30px;
    padding: 10px 30px;
}
.katalog__sort_select{
    display: none;
}
.katalog__sort_line{
    display: block;
}

.katalog__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    text-align: center;
}
.katalog__content {
    display: flex;
    min-height: 95%;
}
.katalog__navigation {
    width: 20%;
    padding: 10px;
}
.katalog__search{
    margin-bottom: 10px;
}
#search{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    border: solid 1px rgb(204, 204, 204);
}
#search::placeholder{
    background-image: url(/img/icone/img_search.png);
    background-position-x: right;
    background-size: 15px;
    background-repeat: no-repeat;
}
.katalog__categories{
    border: solid 1px violet;
}



.katalog__main{
    width: 80%;
    border: solid 1px fuchsia;
    padding: 10px;
}

.katalog__sort{
    padding: 5px 0px;
    border: solid 1px red;
    margin-bottom: 10px;
    
}
.katalog__sort input[type="button"]{
    background-color: white;
    border-bottom: 1px dashed black;
    margin: 0px 10px;
    font-size: 16px;
}
.katalog__sort span{
    color: gray;
}
.katalog__sort > a{
    cursor: pointer;
}
.katalog__goods{
    border: solid 1px blue;
    font-size: 0px;
}



.product{
    min-height: 100px;
    min-width: 25%;
    display: inline-block;
    
    border-radius: 20px;
    padding: 10px 10px;
}
.product:hover{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}
.product > div{
    padding: 5px;
    font-size: 14px;
    
}
.product__wallpaper {    
    
}
.product__sell {

}
.product__name {

}
.product__score {

}
.product__buttons {

}

.product_btn{
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    border-radius: 12px;
}
.btn-r{
    float: right;
}

.katalog__pages{
    width: 100%;
    text-align: center;
}

.btn__page{
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
}

.katalog__sort__burger__menu{
    display: none;
}


@media (max-width:1250px){
    .product{
        min-width: 33%;
    }


}
@media (max-width:955px){
    .product{
        min-width: 50%;
    }


}
@media (max-width:767px){
    .katalog__navigation {
        display: none;
    }
    .katalog__main{
        width: 100%;
    }
    .katalog__sort_select{
        display: block;
    }
    .katalog__sort_line{
        display: none;
    }
    .product{
        min-width: 100%;
    }

    /*---------------------------------------------*/
    .katalog__sort__burger{
        background-image: url(/img/icone/burgher_sort.png);
        image-rendering: -webkit-optimize-contrast;
        background-size:contain;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 20px;
        float: right;
    }
    .katalog__sort__burger__menu{
        z-index: 99;
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .katalog__sort__burger__menu.active{
        left: 0;
    }
    .katalog__sort__burger__menu_exit{
        background-image: url(../img/icone/exit_black.png);
        image-rendering: -webkit-optimize-contrast;
        background-position: -4px -4px;
        background-repeat: no-repeat;
        position: fixed;
        left: 190%;
        transition: all 0.3s ease 0s;
    }
    .katalog__sort__burger__menu_exit.active{
        top: 20px;
        left: 93%;
        width: 41px;
        height: 41px;
        z-index: 100;  
    }

    .katalog__categories__burgher{
        overflow: scroll;
        max-height: 90vh;
    }
    .name__katalog__categories__burgher{
        position: fixed;
        left: 190%;
        transition: all 0.3s ease 0s;
    }
    .name__katalog__categories__burgher.active{
        top: 20px;
        left: 2%;
        position: fixed;
        z-index: 100;
        font-size: 30px;
        font-weight: bold;
    }

}
